@font-face {
  font-family: 'Boink';
  src: url('public/Fonts/boink.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boink', sans-serif;
  }
  